<div class="row-fluid">
  <div class="span12">
    <p class="tab-title">All Users</p>
    <p class="create-new-title"><%= link_to "Create new User", new_user_path %></p>
    <table class="table table-bordered table-hover table table-condensed">
      <thead>
        <tr>
          <th><%= t "user.User_id" %></th>
          <th><%= (t "user.name") %></th>
          <th><%= t "user.user_name" %></th>
          <th><%= t "global.email" %></th>
          <th><%= t "global.role" %></th>
          <th><%= t "global.phone" %></th>
          <th><%= t "global.status" %></th>
        </tr>
      </thead>
      <tbody>
        <% for user in @users do %>
            <tr class="<%= cycle :odd, :even %>">
              <td><%= link_to user.id, user %></td>
              <td><%= user.name %></td>
              <td><%= user.username %></td>
              <td><%= user.email %></td>
              <td style="text-transform:capitalize;"><%= user.role.name %></td>
              <td>
                <% if user.phone != nil %>
                  <%= user.phone %>
                <% else %>
                  N/A
                <% end %>
              </td>
              <td>
                <% if user.status == 1 %>
                  Active
                <% else %>
                  Inactive
                <% end %>
              </td>
              <td>
                <a class="btn btn-small" href="<%= user_path(:id => user.id) %>">Details</a>
                <a class="btn btn-small" href="<%= edit_user_path(:id => user.id) %>">Edit</a>
                <%= link_to 'Delete', user,:confirm => 'Are you sure?', :method => :delete, :class => "btn btn-small"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>