<%= javascript_include_tag "views/user" %>
<div class="span12" id="createUser">
  <div id="ajaxHandler">
      <div id="crmAjaxProgress" class="progress progress-striped active" style="display: none;">
          <div class="bar" style="width: 100%;"></div>
      </div>
      <div id="crmAjaxMessage" class="alert" style="display: none;">
          Error!
      </div>
  </div>
  <%= simple_form_for @user, :html => { :class => "form-horizontal", :onsubmit => "return false;"} do |f| %>
  <legend>New User</legend>
    <div class="span5">
      <%= f.input :username, :label => (t "user.username") %>
      <%= f.input :name, :label =>(t "user.name") %>
      <%= f.input :password, :required => true %>
      <%= f.input :email, :label => (t "global.email") %>
      <%= f.input :role_id, :collection =>[["Admin","1"],["Recruiter","2"],["Sales","3"]], :selected => "3" %>
    </div>

    <div class="form-actions span10" style="margin-left: 0px; width: 970px;">
      <%= f.submit nil, :class => "btn btn-primary" %>
      <%= link_to t("global.cancel"), home_index_path, :class => "btn" %>
    </div>

  <% end %>
</div>