<%= javascript_include_tag "views/contact" %>
<div class="span12" id="createContact">
  <div id="ajaxHandler">
      <div id="crmAjaxProgress" class="progress progress-striped active" style="display: none;">
          <div class="bar" style="width: 100%;"></div>
      </div>
      <div id="crmAjaxMessage" class="alert" style="display: none;">
          Error!
      </div>
  </div>
  <%= simple_form_for @contact, :html => {:class => "form-horizontal", :onsubmit => "return false;"}  do |f| %>
  <legend>New Contact</legend>
    <div class="span5">
      <%= f.input :title, :collection =>[["Select",""],["Mr","Mr"],["Mrs","Mrs"]], :selected => "" %>
      <%= f.input :firstname, :label => (t "contact.first_name") %>
      <%= f.input :lastname, :label => (t "contact.last_name") %>      
      <%= f.input :phone, :label =>(t "contact.phone") %>
      <%= f.input :email, :label =>(t "contact.email") %>
      <%= f.association :account, collection: @accounts.map{ |account| [account.account_name, account.id]}, :include_blank => "Select Account", :selected => "" %>
      <%= f.input :position, :label =>(t "contact.position") %>
      <%= f.input :status, :collection =>[["Select",""],["Active","1"],["Inactive","2"]], :selected => "1" %>
    </div>
    <div class="span5">
      <%= f.input :m_street, :as => :text, :label => (t "contact.mailing_street"), :input_html => { :cols => 50, :rows => 3 } %>
      <%= f.input :m_city, :label =>(t "contact.mailing_city") %>
      <%= f.input :m_state, :label =>(t "contact.mailing_state") %>
      <%= f.input :m_zip, :label =>(t "contact.mailing_zip") %>

      <%= f.input :o_street, :as => :text, :label => (t "contact.other_street"), :input_html => { :cols => 50, :rows => 3 } %>
      <%= f.input :o_city, :label =>(t "contact.other_city") %>
      <%= f.input :o_state, :label =>(t "contact.other_state") %>
      <%= f.input :o_zip, :label =>(t "contact.other_zip") %>
    </div>
    <div class="form-actions span10" style="margin-left: 0px; width: 970px;">
      <%= f.submit nil, :class => "btn btn-primary" %>
      <a class="btn btn-small" href="<%= contacts_path %>">Cancel</a>
    </div>

  <% end %>
</div>