<div class="row-fluid">
  <div class="span12">
    <p class="tab-title">All Accounts</p>
    <p class="create-new-title"><%= link_to "Create new Account", new_account_path %></p>
    <table class="table table-bordered table-hover table table-condensed">
      <thead>
        <tr>
          <th><%= t "account.id" %></th>
          <th><%= (t "account.account_name") %></th>
          <th><%= (t "account.type") %></th>
          <th><%= (t "account.industry") %></th>
          <th><%= (t "account.employees") %></th>
          <th><%= (t "account.annual_revenue") %></th>
          <th><%= (t "account.status") %></th>
          <th colspan="2"><%= (t "account.owner") %></th>
        </tr>
      </thead>
      <tbody>
        <% for account in @accounts do %>
            <tr class="<%= cycle :odd, :even %>">
              <td><%= account.id %></td>
              <td style="text-transform:capitalize;"><%= account.account_name %></td>
              <td style="text-transform:capitalize;">
                <% if account.type.nil? %>
                  N/A
                <% else %>
                  <%= account.type %>
                <% end %>
              </td>
              <td style="text-transform:capitalize;">
                <% if account.industry.nil? %>
                  N/A
                <% else %>
                  <%= account.industry %>
                <% end %>
              </td>
              <td>
                <% if account.employees.nil? %>
                  N/A
                <% else %>
                  <%= account.employees %>
                <% end %>
              </td>
              <td>
                <% if account.annual_revenue.nil? %>
                  N/A
                <% else %>
                  <%= account.annual_revenue %>
                <% end %>
              </td>
              <td style="text-transform:capitalize;">
                <% if account.status == 1 %>
                  Active
                <% else %>
                  Inactive
                <% end %>
              </td>
              <td style="text-transform:capitalize;"><%= account.user.username %></td>
              <td style="width: 275px;">
                <a class="btn btn-small" href="<%= account_path(:id => account.id) %>">Details</a>
                <a class="btn btn-small" href="<%= edit_account_path(:id => account.id) %>">Edit</a>
                <%= link_to 'Delete', account,:confirm => 'Are you sure?', :method => :delete, :class => "btn btn-small"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>